#playerLabel {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#8B4789 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(black, #A17F7F);
    -fx-font-size: 12px;
    -fx-width: 100%;
    -fx-background-color: #BFBFBF;
    -fx-color: #8B4789;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-transform: uppercase;
    -fx-white-space: nowrap;
}

#playersListView {
     -fx-background-color:  linear-gradient(black 0%, #1f2429 20%, #191d22 100%);
}